html {
    font-size: 14px;
}
body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
    font-size: 1.4rem;
}

.required {
    color:  #607D8B;
}
.required:after
{
    content: "*";
    font-weight: bold;
    color: red; 
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

footer {
    background: #37474F;
    color: #ECEFF1;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 10px 0 0 0;
    
}

.top-margin { margin-top: 10px; }

/* Override Bootstrap*/

.navbar-inverse {
    background-color: #455A64;
    border-color: #455A64;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ECEFF1;
    font-size: 1.5rem;
}

.navbar-inverse .navbar-brand {
    color: #ECEFF1;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ECEFF1;
    background-color: #37474F;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ECEFF1;
    border-bottom-color: #ECEFF1;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 700;
}

.navbar-inverse .notifications {
    position: relative;
    margin-right: 30px;
}

.navbar-inverse .notifications .badge{
    position: absolute;
    top: 6px;
    right: -2px;
    background-color: #B0BEC5;
    color: #455A64;
}

.dropdown-menu {
    box-shadow: none;
    font-size: 1.5rem;
}

.dropdown-menu > li > a:hover {
    background-color: #37474F;
    background-image: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #607D8B;
    border-color: #607D8B;
}

.popover {
    box-shadow: none;
}

.input-group-addon {
    background-color: #B0BEC5;
    border: 1px solid #455A64;
}

.glyphicon-search {
    color: #455A64;
}



.form-group {
    margin-bottom: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-control {
    font-size: 1.3rem;
    height: 42px;
    border: 1px solid #455A64;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.form-control:focus {
    border-color: #89c4f4;
    border-width: 2px;
    box-shadow: none;
}

.btn {
    /*font-size: 16px;
    padding: 6px 18px;*/
    -ms-border-radius: 8px;
    border-radius: 8px;
    font-size: 1.3rem;
}



/*page specifice styles*/

.popover-notifications .popover-title {
    font-weight: 700;
    color:  #64B5F6;
    font-size: 1.8rem;
}

.popover-notifications .popover-content {
    padding: 0;
    font-size: 1.5rem;
}


.popover-notifications ul.notifications {
    list-style: none;
    padding: 0;
    margin-right: 0;
}

.popover-notifications ul.notifications > li {
    border-bottom: 1px solid #455A64;
    padding: 10px;
}

.popover-notifications ul.notifications > li:last-child {
    border-bottom: none;
}

.popover-notifications ul.notifications > li .bold-highlight {
    font-weight: 600;
    color:  #455A64;
}

.popover-notifications ul.notifications > li .italic-highlight {
    font-weight: 500;
    font-style: italic;
    color:  #455A64;
}

.popover-notifications ul.notifications > li .color-highlight {
    color: #64B5F6;
    font-size: 1.3rem;
}

.logged-user-image {
    margin-top: 10px;
}
.future-meatups-title {
    font-size: 2.3rem;
    font-weight: 700;
    color: #455A64;
}
#search-teamps {
    width: 300px;
    margin-bottom: 5rem;
}

#future-teamups {
    margin: 0;
}

.ffuture-meatup-col-wrapper {
    margin: 0;
}

.future-meatups-col {
    background-color: rgba(176, 190, 197, .7);
    margin-bottom: 4rem;
    padding: 0 1.8125rem 1.8125rem 1.8125rem

}

.future-meatups-photo {
    -ms-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto -40px auto;
    position: relative;
    top: -40px;
    border: 4px solid rgba(176, 190, 197, .7);
}

.future-meatups-organizer {
    color: #455A64;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
}

.future-meatups-development {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.future-meatups-language {
    text-align: center;
    font-size: 1.5rem;
}

.future-meatups-date {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
}

.future-meaturps-details-buttons {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
}

.details {
    margin-top: 2rem;
}

.details .left-detail {
    background-color: #E0E0E0;
    color: #455A64;
    padding-top: 10px;
    padding-bottom: 10px;

}

.details .development-type {   
    font-weight: 700;
    font-size: 2.2rem;
}
.details .development-language {
    font-weight: 500;
    font-size: 2rem;
}

.details .date-time {
    font-size: 1.5rem;
}

.details .date-time > span{
    font-size: 1.8rem;
    font-weight: 600;
    padding-right: 5px;
}

.details .address {
    font-size: 1.5rem;
}

.details .address > span{
    font-size: 1.8rem;
    font-weight: 600;
    padding-right: 5px;
}

.details .organizer {
    padding-top: 10px;
    font-size: 1.5rem;
}

.details .organizer > span {
    font-weight: 600;
    font-size: 1.8rem;
    padding-right: 5px;
}

.details .description {
    padding-top: 10px;
    font-size: 1.5rem;
}

.details .join-favor {
    padding-top: 20px;
    font-size: 15px;
}

.details #map {
    width:100%;
    min-height:400px;
    margin-left: 15px;
}

.details .left-detail {
    min-height: 400px;
}

.details .discussions {
    padding-top: 30px;
}

.details .discussion-title {
    font-weight: 700;
    font-size: 2rem;
    color: #455A64;
    padding-bottom: 30px;
}

.details .discussion-input {
    background-color: #E0E0E0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.details .discussion-textarea {
    margin-bottom: 15px;
}

.discussion-reply {
    margin-top: 30px;
    margin-left: 40px;
    list-style: none;
    font-size: 1.3rem;
}

.discussion-reply img{
    float: left;
    margin-right: 9px;
}

.discussion-reply .discussion-header {
    padding-bottom: 40px;
}

.discussion-reply .reply-section ul {
    list-style: none;
    margin-top: 20px;
    margin-left: 10px;
}

.discussion-reply .reply-message {
    padding-bottom: 20px;
}

.discussion-reply .post-reply {
    display: block;
    margin-left: 50px;
    margin-right: 100px;
}

.discussion-reply .discussed-by {
    font-size: 17px;
    font-weight: 700;
    color: #455A64;
}

.discussion-reply .replied-by {
    font-size: 17px;
    font-weight: 700;
    color: #455A64;
}

.discussion-reply .replied-button {
    margin-top: 10px;
}