body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.required {
    color: #89c4f4;
}
.required:after
{
    content: "*";
    font-weight: bold;
    color: red; 
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

/* Override Bootstrap*/

.navbar-inverse {
    background-color: #455A64;
    border-color: #455A64;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ECEFF1;
}

.navbar-inverse .navbar-brand {
    color: #ECEFF1;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ECEFF1;
    background-color: #37474F;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ECEFF1;
    border-bottom-color: #ECEFF1;
}

.navbar-brand {
    font-size: 22px;
    font-weight: bold;
}
.dropdown-menu {
    box-shadow: none;
}

.dropdown-menu > li > a:hover {
    background-color: #37474F;
    background-image: none;
}

.form-group {
    margin-bottom: 17px;
}

.form-control {
    font-size: 16px;
    height: 42px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.form-control:focus {
    border-color: #89c4f4;
    border-width: 2px;
    box-shadow: none;
}

.btn {
    /*font-size: 16px;
    padding: 6px 18px;*/
    -ms-border-radius: 8px;
    border-radius: 8px;
}
